/target/

/src/main/webapp/lib/
/src/main/webapp/node_modules/
/src/main/webapp/test/
/src/main/webapp/karma.conf.js
/src/main/webapp/package.json
/src/main/webapp/start-karma.bat
/.settings
.classpath
.project
